/* Set the font color and family for entire page*/
body{
  color: #262729;
  font-family: sans-serif;
  font-size: 18px;
}
/*Set font size and color for section headings*/
h3{
  color: #22819f;
  font-family: serif;
  font-weight: bold;
  font-size: 35px;
}
h4{
  color: #262729;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 22px;
}
.CustomAccountField_18434,
.CustomAccountField_16917504,
.CustomTransactionField_16929792,
.CustomTransactionField_16929793,
.CustomTransactionField_16932864,
.CustomTransactionField_16932865{
  margin-bottom: 20px;
}
/* Removed circle next to rasio buttons and added blue borders around dontation amounts*/
.radio{
  border-style: solid;
  border-color: #22819f;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 10px;
}
a.radio:hover{
  border-style: solid;
  color: #fff;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 10px;
}
input[name="donation-level" ] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
/* End of donation button customization */
.donation-level{
  border-style: none;
  border-color: #22819f;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 50px;
  margin-right: 10px;

}
.donation-form label {
    color: #262729;
    display: block;
}

.donation-form label.error {
    color:#900;
    display: inline-block;
    padding: 0 10px;
}

.donation-form section {
    padding: 5px;
}
/*Added two blocks of data on the same line*/
.first-name, .last-name, .city, .state, .zip-code {
  display: inline-block;
  width: 275px;
}
.email-address, .phone-number, .first-name, .last-name{
  margin-bottom: 10px;
}
.donation-form .field {
    padding: 4px 0;
}
.CustomTransactionField_16932864,.CustomTransactionField_16932865{
  display: inline-block;
}
.CustomTransactionField_16932868, .CustomTransactionField_16932869{
  display: inline-block;
}
input[name="CustomTransactionField_16932811"]{
  width: 50%;
  padding: 50px 20px;
  box-sizing: border-box;
  vertical-align: top;
}
input{
  width: 50%;
  padding: 10px 10px;
  box-sizing: border-box;
}
.placeholder{
  font-size: 18px;
}
.donation-form .field .required-star {
    color: #aa0000;
    display: inline-block;
    margin-left: 5px;
}

.donation-form .field .checkboxes {
    max-width:275px;
    border: 1px solid #A9A9A9;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.donation-form .field .checkbox {
    display: block;
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    line-height: 26px;
    padding: 2px 28px 2px 8px;
    border-bottom: 1px solid rgba( 0, 0, 0, 0.1 ;
    color: #404040;
    overflow: hidden;
    text-decoration: none;
}

.donation-form .field .checkbox input {
    opacity: 0.01;
    position: absolute;
    left: -50px;
    z-index: -5;
}

.donation-form .field .checkbox:last-child {
    border-bottom: none;
}

.donation-form .field .checkbox.selected {
    background: #22819f;
    color: #fff;
}

.donation-form .field .checkbox.selected:before {
    color: #fff;
    text-shadow: 1px 2px 1px rgba( 0, 0, 0, 0.25 );
    line-height: 30px;
    position: absolute;
    right: 10px;
}

.donation-form .field input,
.donation-form .field select,
.donation-form .field textarea {
    padding: 10px;
    max-width: 550px;
    width: 96%;
}

.donation-form .field textarea.international {
    height: 120px;
}

.donation-form .field select {
    box-sizing: content-box;
}

.donation-form .section.recurring {
    padding-left: 30px;
}

.donation-form .field.radio label,
.donation-form .field.checkbox label {
    display: inline-block;
}
/*Tester bugton background change */
.donation-form .field.radio.active label{
    background-color: #f29d22;
}
.donation-form .field.radio input,
.donation-form .field.checkbox input {
    width: auto;
    margin-left: 0;
}

.donation-form .section.consent .field.checkbox:not(.consent-all) {
    margin-left: 20px;
}

.donation-form #cardExpirationMonth,
.donation-form #cardExpirationYear {
    width: 85px;
}

.donation-form #security-code {
    width: 55px;
}

.donation-form .field .sidenote {
    color: #999;
    font-size: 10px;
}

.donation-form .field.other-option,
.donation-form .field.other-amount,
.donation-form .field.cardExpirationMonth,
.donation-form .field.cardExpirationYear {
    display: inline-block;
}

.donation-form .field.other-amount {
    padding-left: 6px;
}

.donation-form .field.cardExpirationMonth {
    padding-right: 20px;
}

.donation-form #other-amount {
    width: 65px;
}

.donation-form #frequency {
    width: 85px;
}

.donation-form #start-date {
    width: 150px;
}

.donation-form .errors {
    border: 1px solid #900;
    color: #900;
    padding: 10px;
}

.donation-form .radio label.error {
    display: inline-block;
    padding-right: 86%;
    float: right;
}

.donation-form .hidden {
    display: none;
}

.btn-group .btn-submit-donation {
    padding: 4px 10px;
      background-color: #22819f;
      radius: 5px;
      font-size: 24px;
}
iframe#spreedly-iframe[style=\'visibility: hidden;\'] {
    display: none;
}

input,
select,
textarea,
button {
    font-family: inherit;
}

#spreedly-modal-overlay[style="visibility:hidden"] {
    display: none;
}
